# Ignore build and devel (or install) directories
/build/
/devel/
/install/

# CMake build files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json

# ROS log files
log/

# VSCode settings
.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Miscellaneous
*.swp
*~
*.bak
*.backup
*.tmp
*.temp
