<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find car1)/urdf/car1.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find car1)/urdf.rviz" />
  <node 
    name="link_name"
    pkg="tf" 
    type="static_transform_publisher"  
    args="0 0 0 0 0 0 map odom 0" />
</launch>